.label-map{
  font-size: 20px;
  background-color: #fff;
      border: 1px solid #949494;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: -55px;
}
